table {
    border-collapse: collapse;
    width: 150px;

}

tr {
    border: solid 1px grey;
    border-left: solid 5px lightgrey;
    border-right: solid 5px lightgrey;
    text-align: center;
    height: 40px;

}

td {
    font-weight: 600;
    color: rgb(70, 130, 180);
}

.select {
    background-color: rgb(75, 130, 180);
    color: white;
}