
.one {
    border-style: solid black;
    background-color: lightgrey;
    width: 15%;
    height: 20px;
    text-align: left;
}

.two {
    border-style: solid black;
    background-color: lightgrey;
    width: 13%;
    height: 10%;
}
.inf {
    width: 20%;
    overflow: auto;
    background: lightgrey;
    white-space: nowrap;
}
.text {
    color: cyan;
    display: inline-block;
}
.text1 {
    color: orange;
    display: inline-block;
    font-style: italic;
}
.p {
    display: inline-block;
    width: 623px;
}