.triangle {
  border-top: 25px solid red;
  border-bottom: 25px solid green;
  border-right: 25px solid blue;
  border-left: 25px solid yellow;
  width: 0;
  height: 0;
}

.triangle1 {
  border-top: 25px solid red;
  border-bottom: 25px solid rgba(0,0,0,0);
  border-right: 25px solid transparent ;
  border-left: 25px solid rgba(0,0,0,0);
  width: 0;
  height: 0;
}

.triangle2 {
  border-top: 25px solid transparent;
  border-bottom: 25px solid green;
  border-right: 25px solid rgba(0,0,0,0);
  border-left: 25px solid rgba(0,0,0,0);
  width: 0;
  height: 0;
}

.triangle3 {
  border-top: 25px solid transparent;
  border-bottom: 25px solid transparent;
  border-right: 25px solid transparent ;
  border-left: 25px solid yellow;
  width: 0;
  height: 0;
}

.triangle4 {
  border-top: 25px solid rgba(0,0,0,0);
  border-bottom: 25px solid green;
  border-right: 25px solid green ;
  border-left: 25px solid rgba(0,0,0,0);
  width: 0;
  height: 0;
}