.figura1 { 
    width: 100px;
	height: 100px;
	border-left: 25px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
	border-bottom: 25px;
	border: solid black;
	
}

.figura2 {
    width: 100px;
    height: 100px;
    border-left: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    border-top: 50px;
    border: solid green;
}

.figura3 {
	width: 100px;
	height: 100px;
	background: red;
	border-radius: 50px;
	border-radius: 50px;
	box-shadow: 70% white inside;
}

