.figura1 { 
    width: 0px;
	height: 0px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
	border: solid black 10px;
	padding: 30px;
	
}

.figura2 {
    width: 0px;
    height: 0px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    border: solid green 10px;
    padding: 30px;
}

.figura3 {
	width: 50px;
	height: 50px;
	border-left: solid yellow 10px;
	border-bottom: solid yellow 10px;
	border-radius: 50px;

}
