html,body{ min-height:350px; }
body{ padding:1em; font-family:arial; }

.flex {
  display: flex;
  
  background: #9ba5b3;  padding: 5px;
}
.flex-itm {  background: #2e5b61;   font-size: 2.5rem;   color: #eee;   margin: 5px;   padding: 15px; }

@media screen and (max-width: 320px) {
    .flex {
  display: flex;
  flex-direction: column-reverse; 
}
}
@media screen and (min-width: 321px) and (max-width: 640px) {
        .flex {
  display: flex;
  flex-direction: column; 
  
}
    
}

@media screen and (min-width: 641px) and (max-width: 800px) {
        .flex {
  display: flex;
  flex-direction: row-reverse; 
        }
}

@media screen and (min-width: 800px){
            .flex {
  display: flex;
  flex-direction: row; 
        }
}
    
