.header {
    display: block;
    width: 820px;
    height: 99px;
    position: relative;
}

.aside {
    display: inline-block;
    height: 670px;
    position: absolute;
    left: 0px;
    top: 0px;
    float: left;
}

.main {
    display: block;
    width: 820px;
    height: 700px;
    position: relative;
}

.one {
    background: grey;
    width: 100px;
    height: 91px;
    text-align: left;
    position: relative;
    
}

.two {
    background: grey;
    width: 236px;
    height: 91px;
    text-align: left;
    position: absolute;
    top: 0px;
    left: 120px;
}

.three {
    background: grey;
    width: 439px;
    height: 91px;
    text-align: left;
    position: absolute;
    top: 0px;
    left: 370px;
}

.four {
    background: grey;
    width: 180px;
    height: 282px;
    text-align: left;
    position: static;
}

.seven {
    background: grey;
    width: 150px;
    height: 113px;
    text-align: left;
    position: absolute; 
    bottom:10px;

}

.five {
    background: lightgrey;
    width: 605px;
    height: 170px;
    text-align: left;
    position: absolute;
    top: 10px;
    left: 200px;

}

.ul {
    position: static;
    padding-top: 170px;
    padding-left: 60px;
    float: left;
    width: 700px;
    height: 200px;
}

.li {
    display: inline-block;
    width: 95px;
    height: 95px;
    background: lightgrey;
    list-style-type: none;
    text-align: left;
    margin: 0px 20px 15px 7px;

}

.eight {
    background: lightgrey;
    width: 280px;
    height: 230px;
    text-align: left;
    position: absolute;
    left: 200px;
    bottom: -235px;
}

.nine {
    background: lightgrey;
    width: 280px;
    height: 230px;
    text-align: left;
    position: absolute;
    bottom: -235px;
    right: -130px;
    
}

.footer {
    display: block;
    width: 820px;
    height: 200px;
    position: relative;
}

.ten {
    background: grey;
    width: 280px;
    height: 200px;
    text-align: left;
    position: absolute;
    top: 0px;
    left: 0px;
}

.eleven {
    background: grey;
    width: 280px;
    height: 200px;
    text-align: left;
    position: absolute;
    top: 0px;
    left: 300px;
}

.twelve {
    background: grey;
    width: 210px;
    height: 85px;
    text-align: left;
    position: absolute;
    bottom: 0px;
    right: 0px;
}

.thirty {
    background: grey;
    width: 210px;
    height: 85px;
    text-align: left;
    position: absolute;
    top:0px;
    right: 0px;

}

.wrapper {
    position: static;
    width: 825px;
    height: 1100px;
}
.article {
    width: 400px;
    height:400px;
    top: 0px;
    position: absolute;
    padding: 0px 135px 0px 135px;
    
    display: inline-block;
}