.wrapper {
    position: static;
    width: 600px;
    height: 600px;
}

.table {
border-collapse: collapse;
border: 1px solid black;
}

.black {
    background: grey;
    width: 50px;
    height: 50px;
    position: relative;
    top: 0px;
    left 0px;
}    


.white {
    background: white;
    width: 50px;
    height: 50px;
    position: relative;
    top: 0px;
    left: -15px;
    border: 1px solid black;
}
.blackq{
    background: grey;
    width: 50px;
    height: 50px;
    position: absolute;
    top: 29px;
    left: 109px;
    border: 1px solid black;
    
}
    