.row {
    position: absolute;
}

.one {
    position: absolute;
    top: 0px;
    left: 0px;
}

.two {
    position: absolute;
    top: 0px;
    left: 15px;
}

.three {
    position: absolute;
    top: 0px;
    left: 30px;
}

.oneone {
    position: absolute;
    top: 15px;
    left: 0px;
}

.twotwo {
    position: absolute;
    top: 15px;
    left: 30px;
}

.threethree {
    position: absolute;
    top: 15px;
    left: 15px;
}

.one1 {
    position: absolute;
    top: 30px;
    left: 15px;
}

.two1 {
    position: absolute;
    top: 30px;
    left: 0px;
}

.three1 {
    position: absolute;
    top: 30px;
    left: 30px;
}

.one2 {
    position: absolute;
    top:45px;
    left: 30px;
}

.two2 {
    position: absolute;
    top: 45px;
    left: 0px;
}

.three2 {
    position: absolute;
    top: 45px;
    left: 15px;
}
    
.one3 {
    position: absolute;
    top: 60px;
    left: 15px;
}

.two3 {
    position: absolute;
    top:60px;
    left: 30px;
}

.three3 {
    position: absolute;
    top: 60px;
    left:00px;
}

    
.one4 {
    position: absolute;
    top: 75px;
    left: 30px;
}

.two4 {
    position: absolute;
    top: 75px;
    left: 15px;
}
.three4 {
    position: absolute;
    top:75px;
    left: 0px;
}
